<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>link</directory>
  <name>友情链接</name>
  <author>DT开发社区</author>
  <version>V4.0</version>
  <description>只适合V4.0 MySQL版本</description>
  <isload>0</isload>
  <install>
    <sql>
      <![CDATA[
          CREATE TABLE `{databaseprefix}link` (
            `id` int(11) NOT NULL AUTO_INCREMENT,
            `site_path` varchar(100) DEFAULT NULL,
            `title` varchar(255) DEFAULT NULL,
            `user_name` varchar(50) DEFAULT NULL,
            `user_tel` varchar(20) DEFAULT NULL,
            `email` varchar(50) DEFAULT NULL,
            `site_url` varchar(255) DEFAULT NULL,
            `img_url` varchar(255) DEFAULT NULL,
            `is_image` int(11) NOT NULL DEFAULT '0',
            `sort_id` int(11) NOT NULL DEFAULT '99',
            `is_red` tinyint(4) NOT NULL DEFAULT '0',
            `is_lock` tinyint(4) NOT NULL DEFAULT '1',
            `add_time` datetime NOT NULL,
            PRIMARY KEY (`id`)
          ) ENGINE=InnoDB DEFAULT CHARSET=utf8;  
    ]]></sql>
  </install>
  <uninstall>
    <sql>Drop Table {databaseprefix}link</sql>
  </uninstall>
  <urls>
    <rewrite name="link" type="plugin" page="link.aspx" inherit="DTcms.Web.Plugin.Link.link" templet="link.html">
      <item path="link.aspx" pattern="link.aspx" />
    </rewrite>
  </urls>
  <menu>
    <nav name="plugin_link" title="链接管理" url="admin/index.aspx" action="Show,View,Add,Edit,Delete,Audit" />
  </menu>
</plugin>