<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>feedbackplus</directory>
  <name>在线留言增强版</name>
  <author>DT开发社区</author>
  <version>V4.0</version>
  <description>只适合V4.0 Mysql版本</description>
  <isload>0</isload>
  <install>
    <sql><![CDATA[
      CREATE TABLE `{databaseprefix}feedbackplus` (
                    `id` int(11) NOT NULL AUTO_INCREMENT,
                    `site_path` varchar(100) DEFAULT NULL,
                    `title` varchar(100) DEFAULT NULL,
                    `content` longtext,
                    `user_name` varchar(50) DEFAULT NULL,
                    `user_tel` varchar(30) DEFAULT NULL,
                    `user_qq` varchar(30) DEFAULT NULL,
                    `user_email` varchar(100) DEFAULT NULL,
                    `add_time` datetime NOT NULL,
                    `reply_content` longtext,
                    `reply_time` datetime DEFAULT NULL,
                    `is_lock` tinyint(4) NOT NULL,
                    PRIMARY KEY (`id`)
                  ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
      ]]></sql>
  </install>
  <uninstall>
    <sql>Drop Table {databaseprefix}feedbackplus</sql>
  </uninstall>
  <urls>
    <rewrite name="feedbackplus" type="plugin" page="feedbackplus.aspx" inherit="DTcms.Web.Plugin.FeedbackPlus.feedbackplus" templet="feedbackplus.html">
      <item path="feedbackplus.aspx" pattern="feedbackplus.aspx" />
      <item path="feedbackplus/{0}.aspx" pattern="feedbackplus/(\w+).aspx" querystring="page=$1" />
    </rewrite>
    <rewrite name="mfeedbackplus" type="plugin" page="mfeedbackplus.aspx" inherit="DTcms.Web.Plugin.FeedbackPlus.feedbackplus" templet="mfeedbackplus.html">
      <item path="mfeedbackplus.aspx" pattern="mfeedbackplus.aspx" />
      <item path="mfeedbackplus/{0}.aspx" pattern="mfeedbackplus/(\w+).aspx" querystring="page=$1" />
    </rewrite>
  </urls>
  <menu>
    <nav name="plugin_feedbackplus" title="留言管理" url="admin/index.aspx" action="Show,View,Delete,Audit,Reply" />
  </menu>
</plugin>