<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>submits</directory>
  <name>自定义多表单</name>
  <author>DT开发社区(dtcms.com.cn)</author>
  <version>V1.0.0</version>
  <description>只适合V4.0以上 Mysql版本</description>
  <isload>1</isload>
  <install>
    <sql><![CDATA[
      CREATE TABLE {databaseprefix}submits(
        `id` int(11) NOT NULL AUTO_INCREMENT,
        `title` varchar(100) DEFAULT NULL,
        `content` longtext,
        `user_name` varchar(50) DEFAULT NULL,
        `user_tel` varchar(30) DEFAULT NULL,
        `user_qq` varchar(30) DEFAULT NULL,
        `user_email` varchar(100) DEFAULT NULL,
        `add_time` datetime NOT NULL,
        `reply_content` longtext,
        `reply_time` datetime DEFAULT NULL,
        `is_lock` tinyint(4) NOT NULL DEFAULT '0',
        PRIMARY KEY (`id`)
      ) ENGINE=InnoDB  DEFAULT CHARSET=utf8;
      ]]></sql>
    <sql><![CDATA[
      CREATE TABLE {databaseprefix}submits_category(
          `id` int(11) NOT NULL AUTO_INCREMENT,
          `title` varchar(100) DEFAULT NULL,
          `field_ids` varchar(255) DEFAULT NULL,
          `is_default` tinyint(4) DEFAULT '0',
          `sort_id` int(11) DEFAULT '99',
          `add_time` datetime NOT NULL,
          PRIMARY KEY (`id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
        ]]></sql>
    <sql><![CDATA[
      CREATE TABLE {databaseprefix}submits_field(
        `id` int(11) NOT NULL AUTO_INCREMENT,
        `name` varchar(100) DEFAULT NULL,
        `title` varchar(100) DEFAULT NULL,
        `control_type` varchar(50) DEFAULT NULL,
        `data_type` varchar(50) DEFAULT NULL,
        `data_length` int(11) DEFAULT NULL,
        `data_place` tinyint(4) DEFAULT NULL,
        `item_option` longtext,
        `default_value` longtext,
        `is_required` tinyint(4) NOT NULL DEFAULT '0',
        `is_password` tinyint(4) NOT NULL DEFAULT '0',
        `is_html` tinyint(4) NOT NULL DEFAULT '0',
        `editor_type` tinyint(4) NOT NULL DEFAULT '0',
        `valid_tip_msg` varchar(255) DEFAULT NULL,
        `valid_error_msg` varchar(255) DEFAULT NULL,
        `valid_pattern` text,
        `sort_id` int(11) NOT NULL DEFAULT '99',
        `is_sys` tinyint(4) NOT NULL DEFAULT '0',
        PRIMARY KEY (`id`)
      ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
      ]]></sql>
    <sql><![CDATA[
      CREATE TABLE {databaseprefix}submits_value(
        `submits_id` int(11) NOT NULL DEFAULT '0',
        `add_time` datetime NOT NULL
      ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
        ]]></sql>
  </install>
  <uninstall>
    <sql>Drop Table {databaseprefix}submits</sql>
    <sql>Drop Table {databaseprefix}submits_field</sql>
    <sql>Drop Table {databaseprefix}submits_value</sql>
    <sql>Drop Table {databaseprefix}submits_category</sql>
  </uninstall>
  <urls>
    <rewrite name="submits" type="plugin" page="submits.aspx" inherit="DTcms.Web.Plugin.submits.submits" templet="submits.html">
      <item path="submits.aspx" pattern="submits.aspx" />
      <item path="submits/{0}.aspx" pattern="submits/(\w+).aspx" querystring="category_id=$1" />
    </rewrite>
  </urls>
  <menu>
    <nav name="plugin_submits" title="自定义多表单" action="Show,View">
      <nav name="plugin_submits_list" title="内容管理" url="admin/index.aspx" action="Show,View,Delete,Audit,Reply" />
      <nav name="plugin_submits_category" title="类别管理" url="admin/category_list.aspx" action="Show,View,Delete,Audit,Reply" />
      <nav name="plugin_submits_field" title="扩展管理" url="admin/field_list.aspx" action="Show,View,Delete,Audit,Reply" />
    </nav>
  </menu>
</plugin>